* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-weight: 500px;

}


  .landing-page {
	background-color: #e5e7da;
	height: 100%;
	width: 100%;
	background-size: cover;
}


html, body, .view {
	height: 100%;

}

@media (max-width: 900px) {
  .view {
    height: 100%;
    width: 100%;
    padding-top: 10%;
    
  }


}

h1 {
   font-family: 'Galada', cursive;
   color: black;
}


/*Navigation Bar*/
.navbar {
	font-weight: 100px;
	font-size: 20px;
  box-shadow: 0 1px 1px #d8dcc5;
}

.top-nav-collapse {
  background-color: #e5e7da !important;
}

.navbar:not(.top-nav-collapse) {
  background: #e5e7da; !important;

}

.nav-link {
  padding: 10px;
}


@media (max-width: 575.98px) {
  .navbar:not(.top-nav-collapse) {
    background: #e5e7da !important;
    box-shadow: 0 5px 10px #d8dcc5;


  }
}

#btn-dl {
  padding: 0;
  margin: 0;
}

/*Landing page*/

#intro {
	margin-top: 11rem;
	margin-left: 5rem;
  letter-spacing: 2px;
  
	font-size: 140px;
  color: #b76e79;
  font-family: 'Cookie', cursive;
}


#intro-paragraph {
	margin-top: 5px;
	margin-left: 10rem;
	margin-right: 1rem;
}

#btn-about {
	margin-left: 10rem;
  color: #b76e79;
  background-color: transparent;
  border-color: #b76e79;
}

#btn-about a {
  color: #b76e79;
  background-color: transparent;
  text-decoration: none;
}


#btn-about a:visited {
  color: #black;
  background-color: transparent;
  text-decoration: none;
}


#btn-about a:hover {
  color: #b76e79;
  background-color: transparent;
  text-decoration: none;
}

#btn-about a:active {
  color: #d8dcc5;
  background-color: transparent;
  text-decoration: none;
}




/*Back to top button*/
/*.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #ed502e;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #f06f54;
  color: #fff;
}*/



.parallax-window {
    min-height: 400px;
    background: transparent;
  }



.container-fluid {
  padding: 0;
  margin: 0 auto;
  background-size: cover;
  min-width: 100%;
}

.about {
  z-index: 2;
  position: relative;
  margin: 10rem;
  padding: 40px;
  background-color: #e5e7da;
  text-align: justify;
  font-size: 20px;
}

.about-new {
  z-index: 2;
  position: relative;
  background-color: #e5e7da;
}

.about-new {
  text-align: center;
}

.about p {
  padding: 10px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.about-new p {
  padding: 10px;
  font-size: 20px;
}

.contacts {
  z-index: 2;
  position: relative;
  /*margin: 10rem;*/
  /*padding: 60px;*/
  background-color: #e5e7da;
  text-align: center;
}

.contacts-new {
  z-index: 2;
  position: relative;
  background-color: #e5e7da;
}

.skills {
  text-align: center;
  margin: 4rem;
}

.projects {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

#about {  
  height: 100%;
}

#aboutNew {
  /*height: 100vh;*/
}

#skills {
  padding: 10px;
  background-color: #e5e7da;
}

#contacts {
  /*height: 100%;*/
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  /*grid-gap: 1rem;*/
  padding: 1rem 80px;
  font-size: 1.2rem;
}


.skill-box {
  padding: 1rem;
  color: black;
  cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
  width: 35px;
}


.skill-box:hover .img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  transition: .5s;
}


.skill-title:before {
  
 
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 35px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
  transition: .5s;

}

.skill-title:after {
  content: '';
  
  bottom: 0;
  right: 50%;
  width: 35px;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: .5s;

}

.img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}


.img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: #d8dcc5;
  border-radius: 45px 0 0 45px;
}

.skill-icon {
  width: 50px;
  z-index: 2;
  position: relative;
}

.skill-title h3 {
  color: black;
  margin: 0.5rem;

}





@media screen and (max-width: 990px) {
  .skill-container{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .skill-container{
    grid-template-columns: repeat(2);
    padding: 2rem 50px;
  }
}


@media screen and (max-width: 990px) {
  .contacts {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .contacts{
    grid-template-columns: repeat(2);
    padding: 2rem 50px;
  }
}




/*Footer*/
footer {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #b76e79);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ffe8e5);

}



@media only screen and (max-width: 576px) {
  .landing-page-xs-bg-image {
    background-image: url('../../assets/images/dp.png');
    background-size: cover;
    z-index: 0;
    opacity: 0.2;
  }
}